<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аффирмации</title>
    <link rel="stylesheet" href="/static/affirmation.css">    
    <script src="/static/js/app.js"></script>

    

</head>
<body>
    <div class="container">
        <h1>Аффирмации</h1>
        <div id="quotes-container">
            {% for quote in quotes %}
                <div class="quote-card">
                    <p class="quote-text">{{ quote.text }}</p>
                    <p class="quote-author"> {{ quote.author }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>