<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реакции пользователей</title>
    <link rel="stylesheet" href="/static/reaction.css">    
    <script src="/static/js/app.js"></script>

    

</head>
<body>
    <div class="container">
        <h1>Реакции пользователей</h1>
        <div id="quotes-container">
            {% for reaction in reactions %}
                <div class="quote-card">
                    <p class="username">{{ reaction.username }}</p>
                    <p class="quote_id">{{ reaction.quote_id }}</p>
                    <p class="quote_type">{{ reaction.quote_type }}</p>
                    <p class="reaction">{{ reaction.reaction }}</p>
                   
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>